
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
}
.header {
    width: 100%;
    height: 65px;
    background: #466E9C;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-bar {
    display: flex;
    margin-left: auto;
}
.auth-link {
    border: 3px solid #c5d4e6;
    height: 41px; 

    border-radius: 30px;
    padding: 0px 8px 2px 8px;
    margin: 0 20px 0 0;

    font-weight: 600;
    line-height: 37px;
    color: #c5d4e6;

    transition: all 0.25s ease-in;
}
.auth-link:hover {
    cursor: pointer;
}
.cart-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 30px 0 0;
}
.cart-link:hover {
    cursor: pointer;
}
.header-cart {
    width: 40px;
}
.header-cart:hover {
    cursor: pointer;
}
.cart-counter {
    margin: 0;
    color: #c5d4e6;
    font-weight: 700;
    font-size: 14px;
}
.header-logo {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.header a {
    text-decoration: none;
    color: #c5d4e6;
}
.header a:hover {
    color: #e9eef5;
}
.header-title {
    margin: 0;

    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
.header-subtitle {
    text-decoration: underline;
    margin: 0;

    font-weight: 700;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.15em;

}
.main {
    padding-top: 60px;
    padding-bottom: 90px;
    width: 100%;
    min-height: calc(100vh - 65px);
    /* background-color: darkseagreen; */
    /* background-image: url("./../image/mains.jpg"); */
    /* background-size: cover; */
    background-position: center;
    position: relative;
 

}
.container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    /* background-color: #466E9C; */
}
.shadow {
    box-shadow: 10px 20px 40px rgba(126, 155, 189, 0.35);
}
.catalog-title {
    margin: 0px 0px 30px 0px;
    text-align: center;
    font-weight: 700px;
    font-size: 24px;
    line-height: 130%;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;

}
.card {
    margin-bottom: 20px;
    /* background-color: white; */
    transition: transform 0.25s ease-in;
}
.card:hover {
    transform: translateY(-15px);
}
.card:last-child, .card:nth-last-child(2) {
    margin-bottom: 0;
}
.card-link {
    display: flex;
    padding: 16px;
    color: black;
    text-decoration: none;
    transition: color 0.25s ease-in;
}
.card-link:hover {
    color: #466E9C;
    cursor: pointer;
}
.card-image {
    max-width: 330px;
}
.title-desc {
    padding-left: 20px;
    width: 180px;
}
.card-title {
    margin: 0;
    padding-bottom: 10px;
    font-weight: 600;
    line-height: 130%;
}
.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
}
.load-container {
    display: flex;
    justify-content: center;
}
.load-button {
    padding: 8px 8px 8px 8px;
    width: 90px;
    height: 60px;
    border: 2px solid black;
    border-radius: 30px;
    transition: transform 0.25s ease-in ;
}
.load-button:hover {
    transform: translateY(7px);
    cursor: pointer;
    background-color: #e9eef5;
}
/* .main-arrow {
    width: 64px;
    height: 64px;
    background-color: purple;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0px);
} */
.footer {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 67px;
    background-color: #466E9C;
    color: white;
}
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-copyright {
    color: #a3bbd6;
    line-height: 1.3;
}
.footer-copyright-title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
}
.footer-copyright p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}
.footer-links {
}
.footer-links p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
}
.footer-links-row {
    display: flex;
    flex-direction: row;
    align-items: center;
} 
.footer-links-row > * + *{
    margin-left: 30px;
}
.footer-links-row a {
    transition: all 0.25s ease-in;
}
.footer-links-row a:hover {
    background-color: white;
    padding: 6px;
    border-radius: 50px;
}
.footer-links-row img {
    width: 30px;
}
.footer-contact {
    
}
.footer p {
    margin: 16px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}
.footer-button {
    display: inline-block;
    height: 50px;
    padding: 0px 30px 16px 30px;

    border: 3px solid white;
    border-radius: 50px;

    color: white;
    text-decoration: none;
    line-height: 44px;
    font-weight: 700;
    font-size: 16px;

    transition: all 0.25s ease-in;
}
.footer-button:hover {
    color: #466E9C;
    background-color: white;
}
.footer-column {
    max-width: 350px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.none {
    display: none;
}